.wrapper{
    height:5rem;
}
.wrapper .link-app{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.2s;
}
@media (max-width: 768px) {
    .wrapper .link-app{
        font-size: 1.2rem;
        margin-left: 20px;
    }
}
.wrapper .cart-resume{
    background-color: var(--bg-seconday);
    color: var(--text-primary);
    border-radius: 0.5rem;
    min-width: 50px;
    max-width: 50%;
    height:90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.wrapper .cart-resume .cart-basket{
    background: var(--text-primary);
    position: relative;
    color: var(--bg-primary);
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    /* padding-bottom: px; */
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: rotate(45deg);
}
.wrapper .cart-resume .cart-basket ion-icon{
    transform: rotate(-45deg);
    width: 90%;
    height: 100%;
    display: flex;
}
.wrapper .cart-resume .cart-basket span{
    position: absolute;
    top: -10px;
    right: 10px;
    display: block;
    margin: 0;
    font-weight: bold;
    background: var(--bg-seconday);
    border-radius: 20px;
    padding: 0 0.2rem;
    font-size: 0.6rem;
    color: var(--text-primary);
    transform: rotate(-45deg);
}
.wrapper .cart-resume p{
    font-size: 1rem;
    font-weight: bold;
}